<!DOCTYPE html>
<html>
  <head>
    <title>Caesar Cipher</title>
  </head>
  <body>
    <h1>Caesar Cipher</h1>
    <form>
      <input type="text" name ="ciphertext" />
      <input type="text" name ="shift" />
      <input type="submit" value="cipher" />
    </form>
    <p> 
      Ciphered text: <%= ciphered_text %>
    </p>
  </body>
</html>